
.form-container {
  padding: 20px;
  border: 2px dashed #ccc;
}


.form-field .custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  border: none;
}

.form-field .custom-file-upload:hover {
  background-color: #0056b3;
}

.form-field .file-name {
  display: block;
  margin-top: 5px;
  color: #555;
}

.form-container {
  margin-top: 20px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 20px;
}


.form-buttons button:hover {
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
}

.form-buttons button {
  background-color: #e7f121;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-buttons .btn-primary {
  background-color: #28a745;
}

.form-buttons .btn-danger {
  background-color: #dc3545;
}

.form-buttons .btn-info {
  background-color: #17a2b8;
}

.form-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  transition: border-color 0.2s ease;
}

.form-select:focus {
  border-color: #007bff;
  outline: none;
}

.form-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
  transform: translateY(-50%);
  pointer-events: none;
}



.list-unstyled .btn-warning:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.form-field input[type="text"],
.form-field input[type="file"],
.form-field select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  transition: border-color 0.2s ease;
}




.form-field input[type="text"]:hover,
.form-field input[type="file"]:hover,
.form-field select:hover {
  transform: translateY(-1px);
  transition: transform 0.2s ease-in-out;
}
